body{
	margin: 0;
	padding: 0;
	font-family: Comfortaa;
	color: white;
	background-color: black;
}

div.solapa, div.solapa2 {
	position: absolute;
	top : 20px;
	left: calc(-140px - 17px + 100vw);
	width: 140px;
	height: 45px;
	background-color: lawngreen;
	border-radius: 20px 0 0 20px;
	color: gray;
	font-size: 0.4cm;
	font-weight: 800;
	line-height: 1.5;
	z-index: 1010;
	-webkit-transition: width 0.5s, left 0.5s; /* Safari */
	transition: width 0.5s, left 0.5s;
}

div.solapa2 {
	top:240px;
}

div.solapa:hover, div.solapa2:hover {
	left: calc(-160px - 17px + 100vw);
	width: 160px;
}

div.solapa p, div.solapa2 p {
	text-align: left;
	padding-left: 30px;
}



div.header {
	position: relative;
	width: calc(-17px + 100vw);
	height: 450px;
	z-index: 1002;
}

div.header img {
	display: block;
	margin: 20px auto;
}

div.header p {
	font-weight:800;
	text-align: center;
	color: orange;
}
a  {
	font-weight:800;
	color:#0000FF;
}
a:visited {
	color:#800080;
}
a:hover {
	color:#008000;
}
a:active {
	color:#FF0000;
}

hr {
	width: calc(-17px + 100vw);
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px white inset;
	margin: 0;
}

div.games {
	padding-top: 75px;
}

div.gap1 {
	position:relative;
	width: calc(-350px + 50vw);
	height:20px;
	display: inline-block;
}

div.ping {
	position: relative;
	display: inline-block;
	width: 700px;
}

div.ping h1 {
	position: relative;
	font-family: cabin;
	font-size: 30px;
	margin-bottom: 60px;
	width: 0;
}

div.ping h1:hover {
	color: orange;
}

div.ping h2{
	position: relative;
	width: 450px;
	font-family: cabin;
	font-weight: 700;
	font-size: 105%;
	line-height: 1.5;
	letter-spacing: 1px;
}

div.ping img {
	position: absolute;
	top: 0;
	left: 500px;
	width: 150px;
}

div.ping img:hover {
	left: 490px;
	width: 160px;
}

div.memoryzar {
	position: relative;
	display: inline-block;
	width: 700px;
	top: 100px;
	margin-bottom: 100px;
}

div.memoryzar h1 {
	position: relative;
	font-family: cabin;
	font-size: 30px;
	margin-bottom: 60px;
	width: 0;
}

div.memoryzar h1:hover {
	color: orange;
}

div.memoryzar h2{
	position: relative;
	width: 450px;
	font-family: cabin;
	font-weight: 700;
	font-size: 105%;
	line-height: 1.5;
	letter-spacing: 1px;
}

div.memoryzar img {
	position: absolute;
	top: 0;
	left: 500px;
	width: 150px;
}

div.memoryzar img:hover {
	left: 490px;
	width: 160px;
}



/* .container {
position: absolute 0 0;
width: 100vw;
align: center;
}
.eye {
position: fixed;
display: inline-block;
border-radius: 50%;
height: 90px;
width: 90px;
background: #CCC;
}
.eye:after { pupil
position: absolute;
bottom: 30px;
right: 20px;
width: 50px;
height: 50px;
background: #000;
border-radius: 50%;
content: " ";
} */
