body{
	margin: 0;
	padding: 0;
	font-family: Comfortaa;
}

div.header {
	position: relative;
	width: calc(-17px + 100vw);
	height: 600px;
	background-color: lightblue;
	background-image: url('../images/fondoppal_iv.jpg');
	backgroung-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: auto auto;
	z-index: 1002;	
}

div.header-leftmargin {
	width: calc(-305px + 50vw);
	min-width: 150px;
	display: inline-block;
	height: 580px;
}

div.header-container {
	position: absolute;
	width: 610px;
	display: inline-block;
	height:520px;
}

div.header-container h1 {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 4.5cm;
	line-height: 1;
	font-weight: 100;
	margin: 70px 0 60px 0;
}

div.header-container h2 {
	widht: 50%;
	text-align: center;
	color: white;
	font-size: 0.4cm;
	font-weight: 100;
	line-height: 1.5;
	margin: 20px 0 20px 0;
	
}

div.credits {
	display: inline-block;
	position: absolute;
	top: 520px;
	width: 700px;
}

div.credits h1 {
	float: right;
    color: white;
    font-weight: 100;
    font-size: 0.3cm;
    display: inline-block;
    margin: 12px 5px 0 0;
}

div.credits a {
	margin :5px;
    display: inline-block;	
    float: right;
}


div.linkbar {
	min-width: 1050px; 
	height: 78px;
	background-color: white;  
	top: 0px;  
	z-index: 1000;
	opacity: 1;
}

div.linkbar-fixed {
	position : fixed;
	min-width: 1050px; 
	height: 78px;
	background-color: white;  
	top: 0px;  
	z-index: 1001;
	opacity: 1;
}

div.linkbar h1, div.linkbar-fixed h1 {
	position: relative;
	display: inline-block;
    color: #69A9D3;
    font-weight: 200;
    font-size: 1cm;
    margin: 0;
    padding: 0 0 0 calc(-550px + 50vw);
}

div.linkbar p, div.linkbar-fixed p {
	position: relative;
	display: inline-block;
	margin-left: 15px;
	color: #696969;
    font-weight: 100;
    font-size: 0.35cm;
	top: -10px;
}

div.linkbar p:hover, div.linkbar-fixed p:hover {
	color: #69A9D3;	
}

div.linkbar a.linkbar-linkedin, div.linkbar-fixed a.linkbar-linkedin {
	position: relative;
	display: inline-block;
	margin-left: 15px;	
	top: 5px; 
}

div.linkbar a.linkbar-linkedin img, div.linkbar-fixed a.linkbar-linkedin img {
	content:url('../images/linkedin%20logo.png'); 
} 

div.linkbar a.linkbar-linkedin img:hover, div.linkbar-fixed a.linkbar-linkedin img:hover {
	content:url('../images/linkedin%20logo-r.png'); 	
}

div.linkbar hr, div.linkbar-fixed hr {
	width: 98vw;
  	height: 10px;
  	border: 0;
  	box-shadow: 0 10px 10px -10px #8c8c8c inset;
  	margin: 0;

}

div.experience {
	postion: relative;
	padding-top: 200px;
	height: 700px
}

div.gap1 {
	position:relative;
	width: calc(-350px + 43vw);
	min-width: 41px;
	height:20px;
	display: inline-block;
}

div.experience h1 {
	position: absolute;
	display: inline-block;
	width: 700px;		
	font-family: cabin;	
	color: #69A9D3;
    font-weight: 700;
    font-size: 30px;
}

div.gap2 {
	position:relative;
	width: calc(-350px + 43vw);
	min-width: 41px;
	height:20px;
	margin-top: 60px;
	display: inline-block;
}

div.experience h2{
	position: absolute;
	display: inline-block;
	margin-top: 60px;	
	width: 700px;	
	font-family: cabin;	
	color: #000000;
    font-weight: 700;
    font-size: 105%;
    line-height: 1.5;
  	letter-spacing: 1px;
}

div.experience img {
	position: absolute;
	display: inline-block;
	margin-left: 710px;
	margin-top:50px;
}

.gap3 {
	position: relative;
	width: calc(-350px + 43vw);
	min-width: 41px;
	height:20px;
	margin-top: 160px;
	display: inline-block;
}

div.experience_selector {
	position: absolute;
	display: inline-block;
	margin-top: 130px;
	width: 250px;
}

div.selector {
	width: 245px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(105, 169, 211, 1);
	border-radius: 10px;
	margin-top: 25px;
}

div.selector  p {
	text-align: left;
	margin-left: 10px;
	margin-top: 5px;
	color: rgba(105, 169, 211, 1);  
    font-weight: 100;
    font-size: 16px;	
    line-height: 1.4;
}

div.selector:hover {
	width: 245px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
	background-color: rgba(105, 169, 211, 1);
	border-radius: 10px;
	margin-top: 25px;

}

div.selector:hover p {
	text-align: left;
	margin-left: 10px;
	margin-top: 5px;
	color: rgba(216, 236, 244, 1);
    font-weight: 100;
    font-size: 16px;	
    line-height: 1.4;
}

div.selector.activated {
	width: 245px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
	background-color: rgba(105, 169, 211, 1);
	border-radius: 10px;
	margin-top: 25px;
}

div.selector.activated p {
	text-align: left;
	margin-left: 10px;
	margin-top: 5px;
	color: white;  
    font-weight: 100;
    font-size: 16px;	
    line-height: 1.4;
}



div.experience_explanation.activated {
	position: absolute;
	display: inline-block;	
	margin-top: 130px;
	margin-left: 270px;	
	width: 550px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: rgba(105, 169, 211, 1);
  	visibility: visible;
  	opacity: 1;	    

}


div.experience_explanation {
	position: absolute;
	display: inline-block;	
	margin-left: 270px;	
	width: 550px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: rgba(105, 169, 211, 1);
 	visibility: hidden;    
  	opacity: 0;
  	transition: visibility 0.1s, opacity 0.5s linear;
	margin-top: 130px;    
}



div.experience_explanation p {
	text-align: justify;
	font-family: cabin;	
	color: black;
    font-weight: 100;
    font-size: 15px;	
    line-height: 1.5;
    padding: 0 0 0 9px;
    margin: 0 0 20px 0;
}

div.academic {
	postion: relative;
	padding-top: 150px;
}

div.academic h1 {
	position: absolute;
	display: inline-block;
	width: 700px;		
	font-family: cabin;	
	color: #69A9D3;
    font-weight: 700;
    font-size: 30px;
}

div.academic_explanation {
	width: 820px;
	display: inline-block;
}

div.academic_explanation h2 {
	text-align: justify;
	font-family: cabin;	
	color: #000000;
    font-weight: 700;
    font-size: 105%;
    line-height: 1.5;
  	letter-spacing: 1px;   	
}

div.academic_explanation img.left {
	float: left;
	margin-right: 20px;   	
}

div.academic_explanation img.right {
	float: right;
	margin-left: 30px;   	
}

div.contact {
	display: inline-block;
	postion: relative;
	padding-top: 150px;
}

div.contact h1 {
	position: absolute;
	display: inline-block;
	width: 700px;		
	font-family: cabin;	
	color: #69A9D3;
    font-weight: 700;
    font-size: 30px;

}

div.contact_explanation {
	width: 820px;
	display: inline-block;
}

div.contact_explanation h2 {
	text-align: justify;
	font-family: cabin;	
	color: #000000;
    font-weight: 700;
    font-size: 105%;
    line-height: 1.0;
  	letter-spacing: 1px;   
  	padding-bottom: 0;
}

div.contact_explanation a {
	text-align: justify;
	font-family: cabin;	
	color: #69A9D3;
    font-weight: 700;
    font-size: 105%;
    line-height: 1.0;
  	letter-spacing: 1px;   	
  	padding-top: 0;	
}

div.curriculum {
	display: inline-block;
	postion: relative;
	margin-top: 75px;
	height: 350px;
}

div.curriculum h1 {
	position: absolute;
	display: inline-block;
	width: 700px;		
	font-family: cabin;	
	color: #69A9D3;
    font-weight: 700;
    font-size: 30px;

}

div.curriculum_explanation {
	width: 820px;
	display: inline-block;
}

div.curriculum_explanation h2 {
	text-align: justify;
	font-family: cabin;	
	color: #000000;
    font-weight: 700;
    font-size: 105%;
    line-height: 1.0;
  	letter-spacing: 1px;   
  	padding-bottom: 0;
}

div.curriculum_explanation a {
	text-align: justify;
	font-family: cabin;	
	color: #69A9D3;
    font-weight: 700;
    font-size: 105%;
    line-height: 1.0;
  	letter-spacing: 1px;   	
  	padding-top: 0;	
}

div.curriculum_explanation img {
	float: right;	
	margin-right: 200px;
	margin-top: -50px;
}

div.footer {
	position: relative;
	width: calc(-17px + 100vw);
	height: 600px;
	background-color: lightblue;
	background-image: url('../images/fondoppal_iv.jpg');
	backgroung-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: auto auto;
}

div.footer-leftmargin {
	width: calc(-400px + 50vw);
	min-width: 150px;
	display: inline-block;
	height: 580px;
}

div.footer-container {
	position: absolute;
	margin-top: 150px;
	width: 800px;
	display: inline-block;
}

div.footer h1 {
	width: 100%;
	text-align: center;
	color: white;
    font-family: Comfortaa;
	font-size: 3cm;
	line-height: 1;
	font-weight: 100;
	margin: 15px;
}

/* .container {
  position: absolute 0 0;
  width: 100vw;
  align: center;
}	
.eye {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background: #CCC;
}
.eye:after { pupil
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  content: " ";
} */