body{
	margin: 0;
	padding: 0;
	font-family: cabin;
  border: 0;
}

div.back {
  position: fixed;
  margin: 0;
  padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: -1;
	background-image: url('../../images/fondoppal_iv.jpg');
	background-attachment: fixed;
	background-size: auto ;
}

div.header {
  width: 100vw;
  height: 17vw;
  background-color: white;
  padding: 0;
}

div.carlos {
  position: relative;
  display: inline-block;
  width: 90px;
  margin: 0;
  padding: 0;
  top: 5px;
}

div.carlos:active, div.headblock:active {
 	background-color: lightblue;
}

div.headblock {
	visibility: visible;
  position: relative;
  display: inline-block;
  width: 70px;
  margin: 0;
  padding: 0;
  top: 10px;
  border: solid;
  border-color: #008bf9;
  border-width: 0px 0px 0px 1px;
}

div.carlos p, div.headblock p {
  text-align: center;
	line-height: 0.7;
	color: #008bf9;
	font-weight: 400;
	font-size: 8px;
}

div.header-container {
	display: block;
	width: 100vw;
	padding-top: 0;
}

div.header-container h1 {
	text-align: center;
	color: white;
	font-size: 75px;
	font-weight: 400;
	margin: 20px 0;
	font-family: Comfortaa;
}

div.header-container h2, div.header-container h3 {
	text-align: center;
	color: white;
	font-size: 12px;
	font-weight: 800;
	line-height: 1.8;
	margin: 0 20px;
}

div.header-container a {
	margin : 0 50px 0 20px;
	display: inline-block;
	float: right;
}

div.header-container h3 {
	text-align: right;
}

div.experience, div.academic, div.contact {
	display: none;
	width: calc(-50px + 100vw);
	padding: 25px;
}

div.experience h1, div.academic h1, div.contact h1  {
	font-family: cabin;
	color: #69A9D3;
	font-weight: 700;
	font-size: 20px;
}

div.experience h2, div.academic h2, div.contact h2 {
	font-family: cabin;
	text-align: justify;
	color: #000000;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.8;
	letter-spacing: 1px;
	width: calc(-50px + 100vw);
}

div.experience img {
	width: 60px;
	float: right;
	margin: 0 0 0 20px;
}

div.selector {
	display: inline-block;
	width: 129px;
	height: 50px;
	border-width: 3px 3px 0 3px;
	border-style: solid;
	border-radius: 10px 10px 0 0;
	border-color: rgba(105, 169, 211, 1);
	background-color: rgba(105, 169, 211, 1);
}

div.selector.activated {
	background-color: white;
}

div.selector:active {
	background: lightblue;
}

div.selector  p {
	text-align: center;
	color: white;
	font-weight: 100;
	font-size: 9px;
	font-family: Comfortaa;
	line-height: 1;
}

div.selector.activated p {
	color: rgba(105, 169, 211, 1);
}

div.experience_explanation {
	display: none;
	position: relative;
	top: -5px;
	border-width: 0 3px 3px 3px;
	border-style: solid;
	border-radius: 0 0 10px 10px;
	border-color: rgba(105, 169, 211, 1);
	padding: 5px;
}

div.experience_explanation.activated {
	display: block;
}
div.experience_explanation  p {
	text-align: justify;
	color: black;
	font-weight: 100;
	font-size: 9px;
	font-family: Comfortaa;
	line-height: 2;
}

div.academic img.left {
	width: 60px;
	float: left;
	margin: 0 20px 0 0;
}

div.academic img.right {
	width: 60px;
	float: right;
	margin: 0 0 0 20px;
}

div.contact a {
	color: #69A9D3;
}

div.contact img{
	width: 60px;
	float: center;
}

div.linkedin {
	position: relative;
	left: 78px;
	width: 80px;
	height: 40px;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: rgba(105, 169, 211, 1);
	padding: 0 15px;
	margin: 30px 0;
}

div.linkedin:active {
	background-color:lightblue;
}

div.linkedin h3{
	margin: 0;
	text-align: center;
	font-weight: 50;
	font-size: 15px;
	color: #69A9D3;

}


div.footer-container {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-image: url('../../images/fondoppal_iv.jpg');
	background-attachment: fixed;
	background-size: auto ;
}

div.footer-container h1{
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 400;
	margin: 20px 0;
	font-family: Comfortaa;
}

div.contact.footer-container {
	display: none;
	width: 100vw;
	padding: 0;
}
